<div>
  <div id="leave-detail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 60%;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: #3c8dbc">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
            <span style="color: white" aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="color: white">请假信息详情</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5 col-md-offset-1" style="border-right: #d2d6de solid 2px;">
              <div class="row">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      姓名
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{editingLeaveRequest.user_name}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      职务职称
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{editingLeaveRequest.major}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      (*)所属部门
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{editingLeaveRequest.department_name}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      (*)请假时间
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{editingLeaveRequest.start_date}} 至 {{editingLeaveRequest.end_date}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      (*)地点
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        <span *ngIf="editingLeaveRequest.origin_addr">{{editingLeaveRequest.origin_addr}}-></span>
                        <span *ngIf="editingLeaveRequest.middle_addr">{{editingLeaveRequest.middle_addr}}-></span>
                        <span *ngIf="editingLeaveRequest.dest_addr">{{editingLeaveRequest.dest_addr}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      交通工具
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{!editingLeaveRequest.traffic_tool? '无' : editingLeaveRequest.traffic_tool}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 col-lg-4 control-label">
                      通讯联系
                    </label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <p class="form-control-static no-new-line">
                        {{!editingLeaveRequest.phone? '无': editingLeaveRequest.phone}}
                      </p>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <div class="col-md-5">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-md-4 col-lg-4 control-label">
                    经费来源
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <p class="form-control-static no-new-line">
                      {{!editingLeaveRequest.funds_source? '无':editingLeaveRequest.funds_source}}
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 col-lg-4 control-label">
                    授课任务
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <p class="form-control-static no-new-line">
                      {{!editingLeaveRequest.teaching? '无':'有'}}
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 col-lg-4 control-label">
                    保密电脑
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <p class="form-control-static no-new-line">
                      {{!editingLeaveRequest.pc? '未携带':'携带'}}
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 col-lg-4 control-label">
                    (*)请假事由
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <p class="form-control-static" style="word-wrap:break-word; word-break:normal;">
                      {{!editingLeaveRequest.reason? '无':editingLeaveRequest.reason}}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 col-lg-4 control-label">
                    (*)请假审核
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div [ngClass]="{'hidden': !(editingLeaveRequest.leader_id==null)}">
                    <label class="radio-inline" style="font-size: 16px">
                      <input type="radio" name="leader_agree" [value]="true" [(ngModel)]="editingLeaveRequest.leader_agree" required/>同意
                    </label>
                    <label class="radio-inline" style="font-size: 16px">
                      <input type="radio" name="leader_agree" [value]="false" [(ngModel)]="editingLeaveRequest.leader_agree" required/>不同意
                    </label>
                    </div>
                      <p class="form-control-static no-new-line" [ngClass]="{'hidden': !editingLeaveRequest.leader_id}">
                        {{editingLeaveRequest.leader_agree? '同意':'不同意'}}
                      </p>
                  </div>
                </div>

                <div class="form-group has-feedback">
                  <label for="inputLeaderComment" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">
                    (*)请假批注
                  </label>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <textarea class="form-control" [ngClass]="{'hidden': !(editingLeaveRequest.leader_id==null)}" name="leader_comment" rows="3" id="inputLeaderComment" placeholder="请输入100字以内的请假批注"
                            [(ngModel)]="editingLeaveRequest.leader_comment" aria-describedby="inputLeaderCommentStatus"
                      style="margin-top: 10px;" required>
              {{editingLeaveRequest.leader_comment}}
                      </textarea>
                    <p class="form-control-static " [ngClass]="{'hidden': !editingLeaveRequest.leader_id}">
                      {{!editingLeaveRequest.leader_comment? '无':editingLeaveRequest.leader_comment}}
                    </p>
                    <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
                    <span id="inputLeaderCommentStatus" class="sr-only">(success)</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
                  [ngClass]="{'hidden': editingLeaveRequest.leader_id==null}">关闭
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal"
                  [ngClass]="{'hidden': !(editingLeaveRequest.leader_id==null)}">取消
          </button>
          <button type="button" class="btn btn-primary" (click)="submitReview()"
                  [ngClass]="{'hidden': !(editingLeaveRequest.leader_id==null)}">提交
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="container" style="width: 110%;">
  <div class="row">
    <div
      class="table-responsive col-md-11 col-md-offset-0">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>编号</th>
          <th>请假人</th>
          <th>请假时间</th>
          <th>请假事由</th>
          <th>地&nbsp;&nbsp;点</th>
          <th>通讯联系</th>
          <th>申请时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody *ngIf="leaveRequests">
        <tr
          *ngFor="let leave of leaveRequests | async | paginate: {id: 'leader_review_server', itemsPerPage: 10, currentPage: currentPage, totalItems: rowCount}">
          <td>
            <a>{{leave.id}}</a>
          </td>
          <td>
            <a>{{leave.user_name}}</a>
          </td>
          <td>{{leave.start_date}} 至 {{leave.end_date}}</td>
          <td>
            <div class="text-wrap" title="{{leave.reason}}">{{leave.reason}}</div>
          </td>
          <td>
            <span *ngIf="leave.origin_addr">{{leave.origin_addr}}-></span>
            <span *ngIf="leave.middle_addr">{{leave.middle_addr}}-></span>
            <span *ngIf="leave.dest_addr">{{leave.dest_addr}}</span>
          </td>
          <td>
            {{!leave.phone? '无':leave.phone}}
          </td>
          <td>
            {{leave.apply_time}}
          </td>
          <td class="no-new-line">
            <a (click)="editLeave(leave.id)" class="fa fa-edit" title="查看请假详情" [ngClass]="{'hidden': !(leave.leader_agree==null)}"
               role="button" data-toggle="modal" data-target="#leave-detail"></a>
            <a (click)="reviewLeave(leave.id, true, '同意请假')" class="btn btn-success" title="同意" role="button"
               [ngClass]="{'hidden': !(leave.leader_agree==null)}">同意</a>
            <a (click)="reviewLeave(leave.id, false, '不同意请假')" class="btn btn-danger" title="不同意" role="button"
               [ngClass]="{'hidden': !(leave.leader_agree==null)}">不同意</a>
            <span class="label label-success" [ngClass]="{'hidden': !leave.leader_agree}">已同意</span>
            <span class="label label-warning" [ngClass]="{'hidden': leave.leader_agree || (leave.leader_agree==null)}">未同意</span>
          </td>
        </tr>

        <!--<tr>
          <td>2</td>
          <td>2017-02-20 至 2017-02-28</td>
          <td>公务出差</td>
          <td>马云 &#45;&#45;
            <span class="review-tag review-passed-tag">通过</span>
          </td>
          <td>赵本山 &#45;&#45;
            <span class="review-tag review-nopass-tag">未通过</span>
          </td>
          <td>
            <a href="#" class="fa fa-edit" title="编辑"></a>
            <a href="#" class="fa fa-check-circle" title="签到" style="margin-left: 10px"></a>
          </td>
        </tr>-->
        </tbody>
      </table>
    </div>

    <div class="col-md-11 col-md-offset-0 table-responsive">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="has-text-centered">
          <div class="spinner" [ngClass]="{ 'hidden': !isLoading }"></div>
          <pagination-controls (pageChange)="getPage($event)" id="leader_review_server"></pagination-controls>
        </div>
      </div>
    </div>

    <!--<div class="col-md-10 col-md-offset-0 col-lg-10 col-lg-offset-0 table-responsive">
      <div class="col-md-6 col-md-offset-3 text-center">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>-->
  </div>
</div>
