<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-0 table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>编号</th>
          <th>请假时间</th>
          <th>请假事由</th>
          <th>科室审核</th>
          <th>系首长审核</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td>1</td>
              <td>2017-02-20 至 2017-02-28</td>
              <td>公务出差</td>
              <td>马云 --
                <span class="review-tag review-passed-tag">通过</span>
              </td>
              <td>赵本山 --
                <span class="review-tag review-nopass-tag">未通过</span>
              </td>
              <td>
                <a href="#" class="fa fa-edit" title="编辑"></a>
                <a href="#" class="fa fa-check-circle" title="签到" style="margin-left: 10px"></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>2017-02-20 至 2017-02-28</td>
              <td>公务出差</td>
              <td>马云 --
                <span class="review-tag review-passed-tag">通过</span>
              </td>
              <td>赵本山 --
                <span class="review-tag review-nopass-tag">未通过</span>
              </td>
              <td>
                <a href="#" class="fa fa-edit" title="编辑"></a>
                <a href="#" class="fa fa-check-circle" title="签到" style="margin-left: 10px"></a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
