<div>
  <carousel>
    <slide>
      <img style="width: 110%;height: 455px;" src="assets/image/slide/smmu_slide_1.jpg" alt="第二军医大学">
      <div class="carousel-caption">
        <!--<h3>您好，奕云天！</h3>
        <p>欢迎使用第二军医大学请假销假管理系统.</p>-->
      </div>
    </slide>
    <slide>
      <img style="width: 110%;height: 455px;" src="assets/image/slide/smmu_slide_2.jpg" alt="第二军医大学">
      <div class="carousel-caption">
        <!--<h3>您好，奕云天！</h3>
        <p>欢迎使用第二军医大学请假销假管理系统.</p>-->
      </div>
    </slide>
    <slide>
      <img style="width: 110%;height: 455px;" src="assets/image/slide/smmu_slide_3.jpg" alt="第二军医大学">
      <div class="carousel-caption">
        <!--<h3>您好，奕云天！</h3>
        <p>欢迎使用第二军医大学请假销假管理系统.</p>-->
      </div>
    </slide>
  </carousel>
  <div class="text-center" style="margin-top: 10px;width: 80%">
    <span style="font-size: 22px">您好，{{ real_name }}！</span>
    <span style="font-size: 18px;">欢迎使用第二军医大学请假销假管理系统.</span>
  </div>
</div>

