thead > tr > th {
  text-align: center;
}

tbody tr td {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

td a {
  vertical-align: middle;
  text-align: center;
  cursor: hand;
}

td .btn {
  margin-left: 10px;
  font-size: 12px;
}

td a.fa.fa-edit {
  font-size: 20px;
  vertical-align: middle;
  margin-top: 3px;
}

.table-hover > tbody > tr:hover {
  background-color: #D9EDF7;
}

.review-tag {
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.review-tag.review-passed-tag {
  background: #00A65A;
}

.review-tag.review-nopass-tag {
  background: #F39C12;
}

.text-wrap{
  text-overflow: ellipsis; /* for IE */
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
}

.no-new-line {
  word-break: keep-all;
}

.form-group .form-control-static,
.form-group .control-label{
  font-size: 15px;
}

a.btn.btn-default{
  color: #3c8dbc;
  background: white;
  font-size: 14px;
  border-color: #3c8dbc;
}

a.btn.btn-default:hover{
  color: white;
  background: #3c8dbc;
  font-size: 15px;
}

